.container-fluid{
    background-color: #F5811E;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
#label{
    
    
    width: 400px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#carrinho{
    background-color: #F5811E;
    border: none;
}

#carrinho:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    
    
}



#buscarClientes{

    height: 5rem;
    width: 5rem;
    background-color: #ffff;
    margin-left: 0.5rem;
    margin-top: -5rem;
    border-color: #F5811E;




}

#modal{
    height: 30rem;
    
}

h1{
    margin-left: 10rem;
}

#labelMODAL{
    width: 15rem;
    margin-top: 5rem;
   margin-left: -15rem;
   
}

#botaoMODAL{
   
    margin-top: 5rem;
    border-radius: 12px;
        
}

.form-control{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
} 




#telainicial{
    border: none;
    background-color: #ffff;
    margin-left:-10px;
}


#buscarClientes:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}




.col-sm-6
.card{
    height: 5rem;
    width: 5rem;
    border-color: #F5811E;
    margin-left: 6rem;
    
    
}

#botaoDoCarrinho{

    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
#carrinhoimagem{
    border-radius: 12px;
   
}

#cardProtudo{
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;

    
}






