.bg-orange {
    background-color: #f5811e;
}

.nav-fi {
    height: 1.5em;
}

.nav-fi::before {
    font-size: 1.5em;
}

.header-fi {
    height: 3rem;
    font-size: 3rem;
}

.fi-add-cart {
    height: 1.5rem;
    font-size: 1.5rem;
}
